apiVersion: v1
kind: Service
metadata:
  name: iris-api
  labels:
    app: iris-api
spec:
  type: LoadBalancer
  selector:
    app: iris-api
  ports:
    - protocol: TCP
      port: 80          # external port
      targetPort: 8000  # FastAPI internal port
